<div class="w-full max-w-md mx-auto p-6">
  <div class="mt-7 bg-white border border-gray-200 rounded-xl shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <div class="p-4 sm:p-7">
      <div class="text-center">
        <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Register</h1>
        <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
          Already have an account?
          <%= link_to "Log in", new_session_path(resource_name), class: "text-blue-600 decoration-2 hover:underline font-medium"%>
        </p>
      </div>
      <div class="mt-5">
        <div id="registration-form">
          <%= render Authentication::RegistrationFormComponent.new(resource: resource, resource_name: resource_name, url: session_path(resource_name)) %>
        </div>
        <div class="py-3 flex items-center text-xs text-gray-400 uppercase before:flex-[1_1_0%] before:border-t before:border-gray-200 before:mr-6 after:flex-[1_1_0%] after:border-t after:border-gray-200 after:ml-6 dark:text-gray-500 dark:before:border-gray-600 dark:after:border-gray-600">Or</div>
        <%= render Authentication::OmniauthButtonComponent.new(text: "Register with Google", icon: :google, callback_url: user_google_oauth2_omniauth_authorize_path) %>
        <%= render Authentication::OmniauthButtonComponent.new(text: "Register with Facebook", icon: :facebook, callback_url: user_facebook_omniauth_authorize_path) %>
      </div>
    </div>
  </div>
</div>