<!-- Title -->
<div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
  <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"><%= simple_format @title %></h2>
  <% if  @description.present? %>
    <p class="mt-1 text-gray-600 dark:text-gray-400"><%= simple_format @description %></p>
  <% end %>
</div>
<!-- End Title -->