<div data-controller="bottom-navigation--button-component">
  <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50 dark:hover:bg-gray-800 group"
    data-action="click->bottom-navigation--button#greet">
    <%= render Element::SvgIconComponent.new(@icon) %>
    <span class="text-sm text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500">
    <%= @name %>
    </span>
  </button>
</div>
