<div data-controller="bottom-navigation--menu-component" class="fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 dark:bg-gray-700 dark:border-gray-600">
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
    <%= render BottomNavigation::ButtonComponent.new("Home", :home, "#", true) %>
    <%= render BottomNavigation::ButtonComponent.new("Settings", :adjustment, "#", false) %>
    <%= render BottomNavigation::ButtonComponent.new("Profile", :profile, "#", false) %>
    <%= render BottomNavigation::ButtonComponent.new("Profile", :profile, "#", false) %>
  </div>
</div>