<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
  <h3 class="mb-4 text-xl font-semibold dark:text-white">
    <%= t(".language_timezone_component.language_and_timezone") %>
  </h3>
  <%= render Profile::LanguageComponent.new(profile: @profile) %>
  <%= render Profile::TimezoneComponent.new(profile: @profile) %>
</div>
